parameters:
    paths:
        - src
    level: 8
    symfony:
        container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
services:
    errorFormatter.fileoutput:
        factory: noximo\FileOutput(./analyzes/lts/backend/stan/phpStan.html, @errorFormatter.prettyJson, ./analyzes/lts/backend/stan/alternative_table.phtml)